.row{
    color: white;
    margin-left: 20px;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    max-height: 120px;
    margin-right: 10px;
    object-fit: contain;
    width: 100%;
    transform: transform 450ms;
    border-radius: 0.15rem;
}

.row__poster:hover{
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge{
    max-height: 250px;
}